.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
}
.gallery-image {
  width: 420px;
  height: 300px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
